@media screen and (max-width: 576px) {
  .navbar {
    border-bottom: 0.5px solid rgb(254, 163, 1);
    width: 100%;
    height: 80px;
  }
  .navbar .logo h2 {
    display: none;
  }
  .logo img {
    width: 46px;
    height: 46px;
    margin-left: 20px;
  }
  .navbar ul {
    display: none;
  }
  .btn {
    display: none;
  }
  .icon {
    display: block;
    margin-right: 20px;
  }
  .banner {
    flex-direction: column-reverse;
    margin-top: 50px;
    width: 100%;
    gap: 20px;
  }
  .banner-content {
    width: 100%;
    text-align: center;
  }
  .banner-content h1 {
    font-size: 2rem;
    line-height: 40px;
  }
  .banner-content p {
    font-size: 14px;
    line-height: 18px;
    margin: 18px;
  }
  .btn-primary {
    width: 131px;
    font-size: 16px;
    height: 42px;
  }
  .banner-img {
    display: flex;
    width: 100%;
  }
  .banner-img img {
    width: 80%;
    object-fit: contain;
    margin: 0 auto;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  marquee {
    font-size: 10px;
  }
  .curriculum-container {
    width: 100%;
    height: 1120px;
    padding: 0;
  }
  .curriculum-container h1 {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 20px;
  }
  .card-container {
    width: 100%;
    gap: 20px;
  }
  .slider-btns {
    display: none;
  }
  .card {
    width: 357px;
    height: 321.28px;
  }
  .card .title {
    font-size: 16.25px;
  }
  .card .description {
    font-size: 10.22px;
    line-height: 19.16px;
  }
  .card .read_more {
    font-size: 10.22px;
    margin-top: 20px;
  }
  .card img {
    width: 91.01px;
    height: 81.46px;
  }
  .stories-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: calc(100% - 20px);
  }
  .stories-section {
    height: 758.02px;
  }
  .big-story {
    display: none;
  }
  .small-story {
    height: 179.59px;
  }
  .small-story img {
    width: 100%;
    height: 105.39px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .small-story h3 {
    font-size: 9.13px;
    line-height: 17.12px;
    margin: 22px;
  }
  .small-story button {
    padding: 5px 15px;
    left: 22.83px;
    top: 93.96px;
    font-size: 9.13px;
    line-height: 17.12px;
  }
  .hide {
    display: block;
  }
  footer {
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }
  footer .logo h2 {
    width: 100%;
    font-size: 30px;
  }
  footer p {
    font-size: 12px;
    line-height: 20px;
    width: calc(100% - 40px) ;
    padding: 20px;
    margin-top: 0;
  }
  .footer-title {
    font-size: 20px;
    line-height: 30px;
  }
  .link {
    font-size: 16px;
    line-height: 10px;
  }
  .nav {
    padding: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar .logo h2 {
    display: none;
  }
  .navbar {
    border-bottom: 0.5px solid rgb(254, 163, 1);
    width: 100%;
    height: 100px;
  }
  .logo img {
    margin-left: 20px;
  }
  .btn {
    margin-right: 20px;
  }
  .banner {
    width: 100%;
    margin-top: 50px;
  }
  .banner-content h1 {
    font-size: 2.8rem;
    line-height: 51px;
  }
  .banner-content p {
    font-size: 1rem;
  }
  .banner-content {
    width: auto;
    margin-left: 20px;
  }
  .banner-img {
    display: flex;
    width: 80%;
    justify-content: end;
    margin-right: 20px;
  }
  .banner-img img {
    width: 80%;
  }
  .btn-primary {
    width: 150px;
    font-size: 1.2rem;
  }
  .curriculum-container {
    height: 1140px;
    width: 100%;
    padding-top: 50px;
  }
  .stories-section {
    width: 100%;
    height: 1158.02px;
  }
  .stories-title {
    margin-bottom: 10px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    padding-top: 50px;
  }
  .slider-btns {
    display: none;
  }
  .stories-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .big-story {
    display: none;
  }
  .hide {
    display: block;
  }
  footer {
    flex-direction: column;
    padding: 50px 0 50px 0;
  }
  footer .logo h2 {
    width: 100%;
    font-size: 30px;
  }
  footer p {
    font-size: 15px;
    line-height: 20px;
    width: 400px;
    padding-top: 20px;
    margin-left: 20px;
    margin-top: 0;
  }
  .footer-title {
    font-size: 20px;
    line-height: 30px;
  }
  .link {
    font-size: 16px;
    line-height: 10px;
  }
  .nav {
    padding: 20px;
  }
}
