@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.quicksand {
  font-family: "Quicksand", serif;
}
.raleway {
  font-family: "Raleway", serif;
}

* {
  margin: 0;
  padding: 0;
}

/* shared styles */

.text-primary-orange {
  color: #fea301;
}

.text-primary-sky_Blue {
  color: #01acfd;
}

.bg-primary {
  background: #95b226;
}

.btn-primary-color {
  background: #111111;
  color: #ffffff;
}

.bg-orange {
  background: #fea301;
}

.btn-primary {
  width: 197px;
  height: 50px;
  border-radius: 12px;
  color: #ffffff;
  font-size: 1.4rem;
  border: none;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
  transition: 1s all ease;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.btn-primary::before {
  background: #070707;
  content: "";
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: all 0.6s ease;
}

.btn-primary:hover::before {
  height: 380%;
}

.btn-color::before {
  background: #fea301;
}

/* header related styles */

/* navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 102px;
  margin: 0 auto;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
}

.logo h2 {
  color: rgb(17, 17, 17);
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
}

.navbar ul {
  display: flex;
  gap: 32px;
}

ul > li {
  list-style: none;
}

li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
}

.text-primary-cyan {
  color: #05d4df;
}

.text-primary-purple {
  color: #5d58ef;
}

.icon {
  display: none;
}

/* banner styles */

.banner {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.banner-content {
  width: 690px;
}

.banner-content h1 {
  font-family: Quicksand;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 61px;
}

.banner-content p {
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 25px;
  margin: 24px 0;
}

/* main related styles */

.curriculum-container {
  width: 99vw;
  height: 879px;
  margin: 0 auto;
  background-image: url(../assets/bg.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0;
}

.curriculum-container h1 {
  color: #000000;
  font-size: 3rem;
  font-weight: 700;
  line-height: 57.5px;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 80%;
  margin: 0 auto;
}

.card {
  width: 22.988rem;
  height: 29.799rem;
  box-sizing: border-box;
  border-radius: 18.86px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0px 0px 28.3px 0.94px #0000000d;
}

.card-gradient-1 {
  border: 0.94px solid rgb(222, 245, 255);
  background: linear-gradient(180deg, #def5ff, #ffffff00 40%), #ffffff;
}

.card-gradient-2 {
  border: 0.94px solid rgb(255, 244, 220);
  background: linear-gradient(180deg, #fff4dc, #ffffff00 40%), #ffffff;
}

.card-gradient-3 {
  border: 0.94px solid rgb(242, 232, 255);
  background: linear-gradient(180deg, #eee1ff, #ffffff00 40%), #ffffff;
}

.card .title {
  color: #202020;
  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
  margin: 18px 0;
}

.card .description {
  color: #808080;
  font-family: Raleway;
  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
}

.card .read_more {
  font-size: 15.09px;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
  transition: text-shadow 0.3s ease;
}

.card .read_more:hover {
  text-shadow: 3px 3px 3px;
}

.text-color-1 {
  color: #64c8ff;
}

.text-color-2 {
  color: #f0aa00;
}

.text-color-3 {
  color: #8700ff;
}

.slider-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.slider-btn {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.slider-btn:hover {
  background-color: #0c0c0c;
  transform: scale(1.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.349);
}

.stories-section {
  width: 99vw;
  height: 1018.02px;
  background: url(../assets/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.stories-title {
  color: #000000;
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
}

.stories-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  max-width: 80%;
  margin: 0 auto;
}

.big-story {
  grid-row: span 2;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  position: relative;
}

.big-story img {
  width: 100%;
  height: 337px;
  object-fit: cover;
}

.big-story-content {
  width: 433.06px;
  margin: 38px;
}

.big-story h1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 38.35px;
}

.big-story p {
  color: rgb(102, 102, 102);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
  margin-top: 50px;
}

.big-story button {
  position: absolute;
  left: 38.35px;
  top: 314.14px;
  border-radius: 47.93px;
  background: #3cd8e8;
  border: none;
  padding: 10px 27px;
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
  text-transform: capitalize;
}

.small-story {
  /* width: 290.69px; */
  border-radius: 16px;
  background: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}

.small-story img {
  width: 100%;
  height: 177px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.small-story h3 {
  margin: 38px;
  color: rgb(0, 0, 0);
  font-size: 15.34px;
  font-weight: 700;
  line-height: 28.76px;
}

.small-story button {
  position: absolute;
  left: 38.35px;
  top: 157.81px;
  border-radius: 47.93px;
  background: #95B226;
  border: none;
  padding: 10px 27px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
  text-transform: capitalize;
}
